{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'base-styles.css' %}" />
    <link rel="stylesheet" href="/static/components/create-tweet-form-styles.css">
    <link rel="stylesheet" href="/static/components/profile-picture.css" />
    <link rel="stylesheet" href="/static/components/message.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/static/base.js"></script>
    <script src="/static/components/create-tweet-form.js"></script>

    {% block head %}{% endblock head %}

    <title>{% block title %}Twitter{% endblock title %}</title>
</head>
<body>
    <div class="post-modal">
        <div class="post-modal-content">
            <p class="close" id="post-modal-close">&times;</p>
            {% include "components/create-tweet-form.html" with content=modal_form.content type="modal" %}
        </div>
    </div>
    <nav>
        <h1>Twitter</h1>
        <div class="nav-btn-list">
            <a href="{% url 'home' %}" class="nav-link" id="home-button">
                <div class="nav-button btn">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <p>Home</p>        
                </div>
            </a>
            <a href="{% url 'search' 'Users' %}" class="nav-link" id="settings-button">
                <div class="nav-button btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <p>Search</p>        
                </div>
            </a>
            <a href="{% url 'profile' request.user.username %}" class="nav-link" id="profile-button">
                <div class="nav-button btn">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <p>Profile</p>        
                </div>
            </a>
            <a href="{% url 'settings' %}" class="nav-link" id="settings-button">
                <div class="nav-button btn">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <p>Settings</p>        
                </div>
            </a>
        </div>
        <div class="post-btn btn" id="nav-post-btn">Post</div>
        <div class="profile-preview-content">
            <div class="popup" id="profile-popup">
                <a href="{% url 'logout' %}" class="popup-option">Log out @{{ request.user }}</a>
            </div>
            <div class="profile-preview btn" id="profile-preview">
                {% include "components/profile-picture.html" with profile=request.user.profile %}
                <div class="name-container">
                    <p class="name">{{ request.user.profile.display_name }}</p>
                    <p class="handle">{{ request.user }}</p>
                </div>
            </div>
        </div>
    </nav>
    <section class="timeline">
        {% block content %}{% endblock content %}
        {% for message in messages %}
            {% include "components/message.html" with message=message %}
        {% endfor %}
    </section>
</body>
</html>