{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/detail-styles.css" />
    <link rel="stylesheet" href="/static/components/tweet-styles.css" />
    <link rel="stylesheet" href="/static/components/profile-header-styles.css" />
    <link rel="stylesheet" href="/static/components/profile-picture.css" />

    <script src="/static/components/tweet.js"></script>
{% endblock head %}

{% block content %}
{% include 'components/profile-header.html' with profile=original_tweet.user.profile %}

{% include 'components/tweet.html' with Tweets=parent_tweets %}

<div class="detail-tweet">
    <div class="tweet-header">
        
        {% include "components/profile-picture.html" with profile=original_tweet.user.profile %}

        <div class="header">
            <a href="{% url 'profile' original_tweet.user.username %}"><b>{{ original_tweet.user.profile.display_name }}</b></a>
            <div class="post-username">@{{ original_tweet.user }}</div>
        </div>

        {% if original_tweet.user == request.user %}
        <div class="tweet-more-container">
            <div class="tweet-more" onclick="togglePopUp(this, event)">
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            <div class="tweet-popup" id="tweet-popup">
                <a href="{% url 'delete_tweet' original_tweet.id %}" class="delete-btn">Delete</a>
            </div>
        </div>
        {% else %}
        <div class="tweet-more-placeholder"></div>
        {% endif %}
    </div>

    <p class="tweet-content">{{ original_tweet.content }}</p>
    <p class="post-date">{{ original_tweet.created_at |date:"f A • M j, Y" }}</p>

    <div class="post-icons">
        <span class="icon comment-icon">
            <a href="" class='hover-no-underline'>
                <i class="fa fa-comment-o" aria-hidden="true"></i> 
                {% if original_tweet.reply.count > 0 %}{{ original_tweet.reply.count }}{% endif %}
            </a>
        </span>
        <span class="icon {% if request.user in original_tweet.retweets.all %}retweeted-retweet-icon{% else %}retweet-icon{% endif %}">
            <a href="{% url 'retweet_tweet' original_tweet.id %}" class='hover-no-underline'>
                <i class="fa fa-retweet" aria-hidden="true"></i>
                {% if original_tweet.retweets.count > 0 %}{{ original_tweet.retweets.count }}{% endif %}
            </a>
        </span>
        <span class="icon {% if request.user in original_tweet.likes.all %}liked-heart-icon{% else %}heart-icon{% endif %}">
            <a href="{% url 'like_tweet' original_tweet.id %}" class='hover-no-underline'>
                <i class="fa {% if request.user in original_tweet.likes.all %}fa-heart{% else %}fa-heart-o{% endif %}" aria-hidden="true"></i>
                {% if original_tweet.likes.count > 0 %}{{ original_tweet.likes.count }}{% endif %}
            </a>
        </span>
        <span class="icon bar-icon">
            <a href="" class='hover-no-underline'>
                <i class="fa fa-bar-chart" aria-hidden="true"></i> 1
            </a>
        </span>
    </div>
</div>

<div class="timeline-segment">
    {% include "components/create-tweet-form.html" with content=reply_form.content type="reply" %}
</div>

{% include 'components/tweet.html' with Tweets=reply_tweets %}

{% endblock content %}