{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/profile-styles.css" />
    <link rel="stylesheet" href="/static/follow-styles.css" />

    <script src="/static/follow.js"></script>
{% endblock head %}

{% block content %}
<div class="timeline-header profile-header">
    <a class="profile-back" onClick="javascript:history.go(-1);">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <div class="username-header">
        <div><b>{{ profile.display_name }}</b></div>
        <div class="handle">{{ profile.user.username }}</div>
    </div>
</div>

<div class="profile-options">
    <a href="{% url 'followers' profile.user.username %}" class="option-btn">
        <div class="option {% if type == "followers" %} current-option {% endif %}">
            Followers
        </div>
    </a>
    <a href="{% url 'following' profile.user.username %}" class="option-btn">
        <div class="option {% if type == "following" %} current-option {% endif %}">
            Following
        </div>
    </a>
</div>


<div class="follow-content">
{% if type == "following" %}
    {% for following in profile.follows.all %}
    <a href="{% url 'profile' following.user.username %}" class="user-detail-container timeline-segment">
        <img class="profile-pic"></img>
        <div class="user-detail-text">
            <p><b>{{ following.display_name }}</b></p>
            <p class="handle">{{ following.user.username }}</p>
            <p>{{ following.bio }}</p>
        </div>
        <div class="follow-btn-container">
            <div class="following-btn btn">Following</div>
        </div>
    </a>
    {% endfor %}
{% else %}
    {% for follower in profile.followed_by.all %}
        <a href="{% url 'profile' follower.user.username %}" class="user-detail-container timeline-segment">
            <img class="profile-pic"></img>
            <div class="user-detail-text">
                <p><b>{{ follower.display_name }}</b></p>
                <p class="handle">{{ follower.user.username }}</p>
                <p>{{ follower.bio }}</p>
            </div>
            <div class="follow-btn-container">
                {% if follower in profile.follows.all %}
                    <div class="following-btn btn">Following</div>
                {% else %}
                    <div class="not-following-btn btn">Follow</div>
                {% endif %}
            </div>
        </a>
    {% endfor %}
{% endif %}
</div>

{% endblock content %}

