{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/home-styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/static/home.js"></script>
{% endblock head %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="timeline-header">
    <h1>Home</h1>
</div>
<div class="direct-post">
    <div class="direct-post-top">
        <div class="profile-pic"></div> 
        <div 
            id="editableDiv"
            class="post-text"
            multiline="true"
            contenteditable="true"
            maxlength="255"
            data-text="What is happening?!"
        ></div>
    </div>
    <div class="direct-post-bottom">
        <p id="char-count"> 0 / 255 characters</p>
        <a href="#" class="direct-post-btn-link">
            <div class="post-btn btn">Post</div>
        </a>
    </div>
</div>
{% for tweet in Tweets %}
<div class="content">
    <div class="profile-pic"></div>
    <div class="content">
        <div class="header">
            <p>Name</p>
            <p>{{ tweet.user }}</p>
            <p>{{ tweet.created_at }}</p>
        </div>
        <p>{{ tweet.content }}</p>
    </div>
    <div class="icons">

    </div>
</div>
{% endfor %}

{% endblock content %}