{% extends 'base.html' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/home-styles.css" />
{% endblock stylesheet %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="timeline-header">
    <h1>Home</h1>
</div>
<div class="direct-post">
    <div class="direct-post-top">
        <div class="profile-pic"></div> 
        <div 
            class="post-text"
            multiline="true"
            contenteditable="true"
            data-text="What is happening?!"
        ></div>
    </div>
    <div class="direct-post-bottom">
        <a href="#" class="direct-post-btn-link">
            <div class="post-btn btn">Post</div>
        </a>
    </div>
</div>

{% endblock content %}