{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/home-styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/static/home.js"></script>
{% endblock head %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="timeline-header">
    <h1>Home</h1>
</div>
<div class="direct-post timeline-segment">
    <form action="post/" method="post" id="tweet-form" >
        {% csrf_token %}
        <div class="direct-post-top">
            <div class="profile-pic"></div> 
            <div 
                id="editableDiv"
                class="post-text"
                multiline="true"
                contenteditable="true"
                maxlength="255"
                data-text="What is happening?!"
            ></div>
            <textarea name="text-area" id="form-textarea" style="display:none"></textarea>
        </div>
        <div class="direct-post-bottom">
            <p id="char-count"> 0 / 255 characters</p>
            <input 
                type="submit" 
                value="Post" 
                class="btn post-btn direct-post-btn-link"
            />
        </div>
    </form>
</div>
{% for tweet in Tweets %}
<a href="">
    <div class="tweet timeline-segment">
        <div class="profile-pic"></div> 
        <div class="content">
            <div class="header">
                <span><b>{{ tweet.user.first_name }}</b></span>
                <span class="post-username">@{{ tweet.user }}</span>
                <span class="post-date">• {{ tweet.created_at |date:"M d" }}</span>
            </div>
            <p>{{ tweet.content }}</p>
            <div class="post-icons">
                <span class="icon comment-icon">
                    <i class="fa fa-comment-o" aria-hidden="true"></i> 1
                </span>
                <span class="icon retweet-icon">
                    <i class="fa fa-retweet" aria-hidden="true"></i> 1
                </span>
                <span class="icon heart-icon">
                    <i class="fa fa-heart-o" aria-hidden="true"></i> 1
                </span>
                <span class="icon bar-icon">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i> 1
                </span>
            </div>
        </div>
    </div>
</a>
{% endfor %}

{% endblock content %}