{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/profile-styles.css" />
    <link rel="stylesheet" href="/static/home-styles.css" /> {% comment %} for tweet styling {% endcomment %}
{% endblock head %}

{% block content %}
<div class="timeline-header profile-header">
    <a class="profile-back" onClick="javascript:history.go(-1);">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <div class="username-header">
        <div><b>{{ profile.display_name }}</b></div>
        <div class="handle">{{ profile.user.username }}</div>
    </div>
</div>
<div class="profile-content">
    <div class="profile-banner"></div>
    <div class="profile-pic-pos">
        <img 
            src="https://png.pngtree.com/thumb_back/fh260/background/20210207/pngtree-gray-background-pure-color-simple-image_557025.jpg" 
            alt="profile picture" 
            class="profile-pic overlap-banner"
        ></img> 
        <div class="edit-profile-container">
            <div class="edit-profile-btn btn"><b>Edit Profile</b></div>
        </div>
    </div>
    <div class="profile-info">
        <div class="profile-username">
            <p class="profile-display-name"><b>{{ profile.display_name }}</b></p>
            <p class="handle handle-profile">{{ profile.user.username }}</p>
        </div>
        <p class="profile-bio">{{ profile.bio }}</p>
        <p class="join-date">
            <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
            Joined {{ profile.user.date_joined | date:"F Y"}}
        </p>
    </div>
    <div class="follow">
        <p><b>38</b> <a href="{% url 'following' profile.user.username %}">Following</a></p>
        <p><b>9</b> <a href="{% url 'followers' profile.user.username %}">Followers</a></p>
    </div>
</div>

<div class="profile-options">
    <a href="" class="option-btn">
        <div class="option current-option ">
            Posts
        </div>
    </a>
    <a href="" class="option-btn">
        <div class="option">
            Likes
        </div>
    </a>
</div>

{% for tweet in Tweets %}
<div class="tweet timeline-segment">
    <img 
        src="https://png.pngtree.com/thumb_back/fh260/background/20210207/pngtree-gray-background-pure-color-simple-image_557025.jpg" 
        alt="profile picture" 
        class="profile-pic"
    ></img> 
    <div class="content">
        <div class="header">
            <span><b>{{ tweet.user.profile.display_name }}</b></span>
            <span class="post-username">@{{ tweet.user }}</span>
            <span class="post-date">• {{ tweet.created_at |date:"M d" }}</span>
        </div>
        <p>{{ tweet.content }}</p>
        <div class="post-icons">
            <span class="icon comment-icon">
                <i class="fa fa-comment-o" aria-hidden="true"></i> 1
            </span>
            <span class="icon retweet-icon">
                <i class="fa fa-retweet" aria-hidden="true"></i> 1
            </span>
            <span class="icon heart-icon">
                <i class="fa fa-heart-o" aria-hidden="true"></i> 1
            </span>
            <span class="icon bar-icon">
                <i class="fa fa-bar-chart" aria-hidden="true"></i> 1
            </span>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}

