{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/components/tweet-styles.css" /> 
    <link rel="stylesheet" href="/static/components/profile-header-styles.css" />
    <link rel="stylesheet" href="/static/components/options-container.css" />
    <link rel="stylesheet" href="/static/components/profile-picture.css" />
    <link rel="stylesheet" href="/static/profile-styles.css" />
    
    {% comment %} follow button {% endcomment %}
    <link rel="stylesheet" href="/static/follow-styles.css" /> 
    <script src="/static/follow.js"></script>
    
{% endblock head %}

{% block title %}Profile{% endblock title %}

{% block content %}
{% include 'components/profile-header.html' %}
<div class="profile-content">
    {% if profile.cover_picture %}
        <img src="{{ profile.cover_picture.url }}" alt="" class="profile-banner" />
    {% else %}
        <div class="profile-banner"></div>
    {% endif %}
    
    <div class="profile-pic-pos">
        {% include "components/profile-picture.html" with additional_classes='overlap-banner' %}
        <div class="edit-profile-container">
            {% if profile == request.user.profile %}
                <a href="{% url 'edit_profile' %}" class="hover-no-underline"><div class="edit-profile-btn btn"><b>Edit Profile</b></div></a>
            {% else %}
                {% include 'components/follow-btn.html' with follow=profile %}
            {% endif %}
        </div>
    </div>
    <div class="profile-info">
        <div class="profile-username">
            <p class="profile-display-name"><b>{{ profile.display_name }}</b></p>
            <p class="handle handle-profile">{{ profile.user.username }}</p>
        </div>
        <p class="profile-bio">{{ profile.bio }}</p>
        <p class="join-date">
            <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
            Joined {{ profile.user.date_joined | date:"F Y"}}
        </p>
    </div>
    <div class="follow">
        <p><b>{{ profile.follows.count }}</b> <a href="{% url 'following' profile.user.username %}">Following</a></p>
        <p><b>{{ profile.followed_by.count }}</b> <a href="{% url 'followers' profile.user.username %}">Followers</a></p>
    </div>
</div>

<div class="options-container">
    <a href="{% url 'profile' profile.user.username %}" class="option-btn">
        <div class="option {% if type == 'posts' %}current-option{% endif %} ">
            Posts
        </div>
    </a>
    <a href="{% url 'profile_likes' profile.user.username %}" class="option-btn">
        <div class="option {% if type == 'likes' %}current-option{% endif %}">
            Likes
        </div>
    </a>
</div>
{% include 'components/tweet.html' with Tweets=Tweets %}

{% endblock content %}

