{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/settings.css" />
    <script src="/static/settings.js"></script>
{% endblock head %}


{% block title %}Account Settings{% endblock title %}

{% block content %}
<div class="timeline-header">
    <h1>Home</h1>
</div>
<div class="timeline-segment settings-accordian">
    <p>Change Username</p>
    <i class="fa fa-caret-down rotate-0" aria-hidden="true"></i>
</div>
<div class="timeline-segment panel">
    <form action="" method="post">
        {% csrf_token %}
        {{ username_change_form.username }}
        <input type="submit" value="Save" class="btn post-btn settings-btn">
    </form>
</div>


<div class="timeline-segment settings-accordian">
    <p>Change Password</p>
    <i class="fa fa-caret-down rotate-0" aria-hidden="true"></i>
</div>
<div class="timeline-segment panel">
    <form action="{% url 'change_password' %}" method="post">
        {% csrf_token %}
        {{ password_change_form.old_password }}
        {{ password_change_form.new_password1 }}
        {{ password_change_form.new_password2 }}
        <input type="submit" value="Save" class="btn post-btn settings-btn">
    </form>
</div>
{% endblock content %}