h1 {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: var(--twitter-blue);
    transition: text-decoration 0.25s;
}

a:hover {
    text-decoration: underline;
}

input[type=email], input[type=password] {
    display: block;
    width: 100%;
    font-size: 1rem;
}

.subtext {
    font-size: 0.9rem;
    color: var(--gray-text);
}