#id_display_name, #id_bio {
    width: 100%;
    font-size: 1rem;
}

#id_bio {
    resize: none;
}

form {
    height: 70vh;
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.darken-img {
    filter: brightness(90%);
}

.profile-banner {
    height: 30%;
    width: 100%;
    object-fit: cover;
}

.profile-pic-pos {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 10px;
}

.overlap-banner {
    transform: translate(0, -4rem);
    border: 5px solid var(--background);
    height: 6rem;
    width: 6rem;
}

.fa-plus-circle {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--gray-text);
    transition: color 0.25s;
}

.fa-plus-circle:hover {
    color: var(--gray-hover);
}

.cover-btn {
    position: absolute;
    left: calc(50% - 0.25rem);
    transform: translateY(calc(11.25vh - 1rem));
    z-index: 2;
}

.profile-btn {
    position: absolute;
    margin: 0 10px;
    transform: translate(2rem, 8rem);
    z-index: 2;
}