<form action="{% url 'post' %}" method="post" class="post-tweet-form">
    {% csrf_token %}
    <div class="{% if type == 'direct' %}post-top-no-border{% else %}post-top{% endif %}">
        <img 
            src="https://png.pngtree.com/thumb_back/fh260/background/20210207/pngtree-gray-background-pure-color-simple-image_557025.jpg" 
            alt="profile picture" 
            class="profile-pic"
        ></img> 
        {{ content }}
    </div>
    <div class="post-bottom">
        <p id="{% if type == 'direct' %}direct-char-count{% else %}modal-char-count{% endif %}"> 0 / 255 characters</p>
        <input 
            type="submit" 
            value="Post" 
            class="btn post-btn post-btn-submit"
            id="{% if type == 'direct' %}direct-submit-btn{% else %}modal-submit-btn{% endif %}"
        />
    </div>
</form>