<form 
    action="{% if type == 'reply' %} {% url 'reply' original_tweet.id %} {% else %} {% url 'post' %} {% endif %}" 
    method="post" 
    class="post-tweet-form"
>
    {% csrf_token %}
    <div class="{% if type == 'modal' %}post-top{% else %}post-top-no-border{% endif %}">
        {% include "components/profile-picture.html" with profile=request.user.profile %}
        {{ content }}
    </div>
    <div class="post-bottom">
        <p id="{% if type == 'direct' %}direct-char-count 
            {% elif type == 'modal' %}modal-char-count
            {% elif type == 'reply' %}reply-char-count
            {% endif %}"> 0 / 255 characters</p>
        <input 
            type="submit" 
            value="{% if type == 'reply' %}Reply{% else %}Post{% endif %}" 
            class="btn post-btn post-btn-submit"
            id="{% if type == 'direct' %}direct-submit-btn
                {% elif type == 'modal' %}modal-submit-btn
                {% elif type == 'reply' %}reply-submid-btn
                {% endif %}"
        />
    </div>
</form>