{% for tweet in Tweets %}
<div class="tweet timeline-segment">
    <img 
        src="https://png.pngtree.com/thumb_back/fh260/background/20210207/pngtree-gray-background-pure-color-simple-image_557025.jpg" 
        alt="profile picture" 
        class="profile-pic"
    ></img> 
    <div class="content">
        <div class="header">
            <a href="{% url 'profile' user.username %}"><b>{{ tweet.user.profile.display_name }}</b></a>
            <span class="post-username">@{{ tweet.user }}</span>
            <span class="post-date">• {{ tweet.created_at |date:"M d" }}</span>
        </div>
        <p>{{ tweet.content }}</p>
        <div class="post-icons">
            <span class="icon comment-icon">
                <i class="fa fa-comment-o" aria-hidden="true"></i> 1
            </span>
            <span class="icon retweet-icon">
                <i class="fa fa-retweet" aria-hidden="true"></i> 1
            </span>
            <span class="icon {% if request.user in tweet.likes.all %}liked-heart-icon{% else %}heart-icon{% endif %}">
                <a href="{% url 'like_tweet' tweet.id %}" class='hover-no-underline'>
                    <i class="fa {% if request.user in tweet.likes.all %}fa-heart{% else %}fa-heart-o{% endif %}" aria-hidden="true"></i>
                    {{ tweet.likes.count }}
                </a>
            </span>
            <span class="icon bar-icon">
                <i class="fa fa-bar-chart" aria-hidden="true"></i> 1
            </span>
        </div>
    </div>
    {% if tweet.user == request.user %}
    <div class="tweet-more-container">
        <div class="tweet-more" onclick="togglePopUp(this, event)">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </div>
        <div class="tweet-popup" id="tweet-popup">
            <a href="{% url 'delete_tweet' tweet.id %}" class="delete-btn">Delete</a>
        </div>
    </div>
    {% else %}
    <div class="tweet-more-placeholder"></div>
    {% endif %}
</div>
{% endfor %}

