{% for follow in follow_list %}
    <a href="{% url 'profile' follow.user.username %}" class="user-detail-container timeline-segment">
        {% include "components/profile-picture.html" with profile=follow.user.profile %}

        <div class="user-detail-text">
            <p class="underline-hover"><b>{{ follow.display_name }}</b></p>
            <p class="handle">{{ follow.user.username }}</p>
            <p>{{ follow.bio }}</p>
        </div>
        
        {% if follow != request.user.profile %}
            {% include 'components/follow-btn.html' with follow=follow %}
        {% endif %}
    </a>
{% endfor %}