<form method="post">
{% csrf_token %}
{% for follow in follow_list %}
    <a href="{% url 'profile' follow.user.username %}" class="user-detail-container timeline-segment">
        <img class="profile-pic"></img>

        <div class="user-detail-text">
            <p><b>{{ follow.display_name }}</b></p>
            <p class="handle">{{ follow.user.username }}</p>
            <p>{{ follow.bio }}</p>
        </div>
        
        {% if follow != request.user.profile %}
        <div class="follow-btn-container">
            {% if follow in request.user.profile.follows.all %}
                <button class="following-btn btn" name="follow" value="{{ follow.id }}">Following</button>
            {% else %}
                <button class="not-following-btn btn" name="follow" value="{{ follow.id }}">Follow</div>
            {% endif %}
        </div>
        {% endif %}
    </a>
{% endfor %}
</form>