{% extends 'registration/base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/registration/login.css" />
{% endblock head %}

{% block title %}Login{% endblock title %}
    
{% block content %}
<h1>Login in to Twitter</h1>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username }}
    {{ form.password }}
    <div class="login-btn-div">
        <input type="submit" value="login" class="btn login-btn">
        <a href="{% url 'password_reset' %}" class="forget-password">Forget password?</a>
    </div>
</form>
<div class="registration">
    <p>New to Twitter?</p>
    <a href="{% url 'registration' %}" class="sign-up">Sign up now</a>
</div>


{% endblock content %}