{% extends 'registration/base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/registration/password_reset.css" />
{% endblock head %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<h1>Set a new password</h1>

{% for error in form.new_password2.errors %}
    <p class="subtext">{{ error }}</p>
{% endfor %}

<form method="POST">
  {% csrf_token %}
  {{ form.new_password1 }}
  {{ form.new_password2 }}
  <input type="submit" class="btn" value="Change password">
</form>

{% else %}

<h1>Invalid link</h1>
<p>The password reset link was invalid, possibly because it has already been used.</p>
<p>Please request a new password reset.</p>

{% endif %}
{% endblock %}