{% extends 'registration/base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/registration/profile-creation.css" />
{% endblock head %}

{% block title %}Create Profile{% endblock title %}

{% block content %}
<div class="content">
    <div class="center-content">
        <h1>Finish Signing Up</h1>
        <form method="post" action="{% url 'profile_creation' %}">
            {% csrf_token %}
            {{ profile_form.display_name }}
            {{ profile_form.bio }}
            <input type="submit" value="Sign Up" class="btn profile-creation-btn">
        </form>
    </div>    
</div>
{% endblock content %}