:root {
    --background: #fff;
    --twitter-blue: hsl(204, 87.6%, 52.7%);
    --twitter-blue-hover: hsl(204, 87.6%, 45%);
    --twitter-blue-disabled: hsla(204, 88%, 53%, 50%);
    --gray-hover: hsl(0, 0%, 80%);
    --gray-text: gray;
    --heart-red: red;
    --retweet-green: green;
    --inverse-color: black;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--background);
}

a {
    text-decoration: none;
    color: inherit;
    transition: text-decoration 0.25s;
}

a:hover {
    text-decoration: underline;
}

nav {    
    font-size: 20px;
    font-weight: 700;
    height: 100vh;
    width: 20%;
    margin-left: 10%;
    padding: 20px;

    display: flex;
    flex-direction: column;

    position: sticky;
    top: 0;
}

.btn {
    border-radius: 400px;
}

.nav-btn-list {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.nav-link {
    text-decoration: none;
    color: var(--inverse-color);
}

.nav-button {
    padding: 10px 5px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.25s;
}

.nav-button i {
    padding: 0 0.5rem;
}

.nav-button p {
    padding-right: 5px;
}

.nav-button:hover {
    background-color: var(--gray-hover);
}

.post-btn {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--twitter-blue);
    color: #fff;
    transition: background-color 0.25s;
}

.post-btn:hover {
    background-color: var(--twitter-blue-hover);
    cursor: pointer;
}

.profile-preview-content {
    margin-top: auto;
    position: relative;
}

.profile-preview {
    padding: 10px;
    display: flex;
    transition: background-color 0.25s;
}

.profile-preview:hover {
    background-color: var(--gray-hover);
}

.profile-pic {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-right: 15px;
}

.name-container {
    vertical-align: center;
}

.handle {
    color: var(--gray-text);
    font-size: 0.7rem;
}

.handle::before {
    content: "@";
}

/* Popup */
.popup {
    display: none;
    position: absolute;
    top: -70px;
    z-index: 2;

    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 20px 0px;
    padding: 10px 0;
    margin-bottom: 15px;
    font-size: 1rem;
}

.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    border-color: var(--background) transparent transparent transparent;
    bottom: -9px;
    left: 50%;
    margin-left: -10px;
    z-index: 3;
}  

.popup-option {
    padding: 5px 15px;
}

.popup-option:hover {
    background-color: var(--gray-hover);
}

/* Timeline */
.timeline {
    width: 45%;

    border-style: none solid;
    border-width: 1px;
    border-color: var(--gray-hover);
}

.timeline-header {
    padding: 20px;
    border-bottom: 1px solid var(--inverse-color);
}

.timeline-segment {
    padding: 10px 15px;
    border-bottom: 1px solid var(--inverse-color);
}

/* Modal */
.post-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.post-modal-content {
    background-color: var(--background);
    margin: 5% auto; 
    padding: 10px;
    width: 40%; 
    border-radius: 10px;
}
  
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.25s;
}

.close:hover,
.close:focus {
    color: var(--inverse-color);
    text-decoration: none;
    cursor: pointer;
}