/* Timeline section */
.tweet {
    display: flex;
    transition: background-color 0.25s;
}

.tweet:hover {
    background-color: var(--gray-hover);
    cursor: pointer;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.post-username, .post-date {
    color: var(--gray-text);
}

.post-icons {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 15%;
    transition: color 0.25s;
}

.comment-icon:hover, .bar-icon:hover {
    color: var(--twitter-blue);
}

.retweet-icon:hover {
    color: var(--retweet-green);
}

.heart-icon:hover {
    color: var(--heart-red);
}